body {
  background: #141414;
}

.search-field {
  color: #fff;
  height: 35px;
  background: #000000bf;
  border: 1px solid #ffffffd9;
  outline: none;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  height: 68px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  cursor: pointer;
  margin: 8px;
  align-items: center;
  overflow: hidden;
}

.card:hover {
  transition: transform 500ms;
  transform: scale(1.2);
  z-index: 1;
}

.no-result {
  display: flex;
  height: 10;
  justify-content: center;
  margin-top: 48px;
  color: #e5e5e5;
  font-size: larger;
}

.loading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.loading div {
  position: absolute;
  background: #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
