body {
  background: #141414;
}

.search-field {
  color: #fff;
  height: 35px;
  background: #000000bf;
  border: 1px solid #ffffffd9;
  outline: none;
  display: flex;
  align-self: center;
  margin-right: 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  height: 68px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 200px;
  cursor: pointer;
  margin: 8px;
  align-items: center;
  overflow: hidden;
}
